{{> head}}
{{> navbar}}
<div class="row">
  <div class="col-8">
    <h1>Incumbente</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
  </div>
  <div class="col-4">
    <img src="assets/img/iron-man.png" class="img-thumbnail">
    <p>hola</p>
  </div>
</div>
{{> footer}}
